<h2>{{ loan["customer_name"] }}</h2>
<p>{{ loan["loan_plan"] }}</p>

<table class="table">
  <thead>
    <th>Period</th>
    <th>Posting Date</th>
    <th>Status</th>
    <th class="text-right">Amount</th>
    <th class="text-right">Late Fine</th>
    <th class="text-right">Outstanding</th>
    <th />
  </thead>
  <tbody>
    {% for (let i = 0; i < data.length; i++) { %}
    <tr>
      <td>{{ data[i]["period"] }}</td>
      <td>{{ frappe.datetime.str_to_user(data[i]["posting_date"]) }}</td>
      <td>
        <span class="indicator {{ data[i].indicator }}">{{ data[i]["status"] }}</span>
      </td>
      <td class="text-right">
        {{ format_currency(
          data[i]["billed_amount"],
          frappe.defaults.get_default("currency"),
          2
        ) }}
      </td>
      <td class="text-right">
        {% if (data[i]["fine_wrote_off"]) { %}<s>{% } %}
        {{ format_currency(
          data[i]["fine_amount"],
          frappe.defaults.get_default("currency"),
          2
        ) }}
        {% if (data[i]["fine_wrote_off"]) { %}</s>{% } %}
      </td>
      <td class="text-right">
        {{ format_currency(
          data[i]["outstanding_amount"],
          frappe.defaults.get_default("currency"),
          2
        ) }}
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-xs" name="{{ data[i].name }}">
          Actions
        </button>
      </td>
    </tr>
    {% } %}
  </tbody>
</table>
