.gwi-calculate_principal {
  border: 1px solid #d1d8dd;
  border-radius: 3px;
  background-color: #fafbfc;
  display: flex;
  flex-flow: column wrap;
  padding: 8px;
  margin: 15px 15px;
  @media (min-width: 768px) {
    max-height: 120px;
    margin: 15px 30px;
  }
  > div {
    margin: 8px;
  }
  dt {
    font-variant: all-small-caps;
    font-weight: normal;
  }
  dd {
    font-weight: bold;
  }
  > div:first-of-type dd {
    font-size: 1.6em;
  }
}
